.git
.vscode
docker-volumes
node_modules
.env
.env.example
.eslintrc.cjs
.eslintrc.json
.prettierrc
.gitignore
.prettierrc
database.env
database.env.example
docker-compose.yml
Dockerfile
Makefile
prettier.config.js
README.md
start-database.sh
URL-Diagram.txt
