# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=kontresv2

DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@localhost:5432/${DATABASE_NAME}"
LEPTON_API_URL="https://api.tihlde.org"

AUTH_SECRET="my-v3ry-s3cret-key"

# The lepton API key will only be used when interfacing with the mailing API 
LEPTON_API_KEY=""
